.button {
  background-image: linear-gradient(
    to right,
    #d77fa1 0%,
    #baabda 51%,
    #d6e5fa 100%
  );
}
.button {
  padding: 15px 45px;
  text-align: center;
  font-size: 1.2rem;
  transition: 1s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
